body{
  padding: 0;
  margin: 0;
  background-color: #242424;
  color: #fff;
}
.whole{
  background-color: blueviolet;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 250px;
 /* top: 50%;
 left: 50%;
 translate: transform(-50%,-50%); */
}
.increase{
  padding: 8px 16px;
  font-size: 16px;
  color: #242424;
  border-radius: 5px;
  margin: 5px 0;
}
.decrease{
  padding: 8px 16px;
  font-size: 16px;
  color: #242424;
  border-radius: 5px;
  margin: 5px 0;
}
p{
  font-size: 20px;
}